<div class="container">
    <h1>Linguagens Utilizadas no Paradigma Funcional</h1>
    <p>As linguagens de programação funcional têm ganhado destaque por sua abordagem centrada em funções e imutabilidade. Entre as mais conhecidas estão Erlang, Lisp, Scheme, ML, ISWIM, Haskell e Elixir.</p>
    <p> Nas próximas páginas, vamos explorar em especial uma delas, Haskell, devido à sua clareza e facilidade de entendimento. </p>
    <p>Listadas abaixo, algumas linguagens utilizadas no paradigma funcional e um pouco sobre cada uma delas:</p>
    <div class="infos">
        <ul>
            <li>
                <app-info
                title="Lisp (1958)"
                [contents]="['Características: A mais antiga, pioneira em programação simbólica e funções de alta ordem. Suporta programação funcional e imperativa. Manipulação poderosa de listas.', 'Aplicações: Inteligência artificial, processamento de linguagem natural.', 'História: Criada por John McCarthy no MIT, fortemente influenciada pela lógica matemática.']"
                ></app-info>
            </li>
            <li>
                <app-info
                title="ISWIM (1966)"
                [contents]="['Características: Introduziu a notação lambda, base para muitas linguagens funcionais. Ênfase em imunidade a efeitos colaterais.', 'Aplicações: Influenciou o design de linguagens como Haskell.', 'História: Projetada por Peter Landin, não implementada amplamente.']"
                ></app-info>
            </li>
            <li>
                <app-info
                title="ML (1973)"
                [contents]="['Características: Tipagem estática com inferência de tipos, simplicidade, módulos, funções de alta ordem, exceções.', 'Aplicações: Compiladores, sistemas de prova, pesquisa acadêmica.', 'História: Criada por Robin Milner para escrever teoremas em um sistema de prova. ']"
                ></app-info>
            </li>
            <li>
                <app-info
                title="Scheme (1975)"
                [contents]="['Características: Sintaxe minimalista, closures, funções de primeira classe, tail call optimization, macros, tipagem dinâmica. ', 'Aplicações: Educação, programação de sistemas. ', 'História: Derivada do LISP, criada por Guy L. Steele e Gerald Jay Sussman no MIT. ']"
                ></app-info>
            </li>
            <li>
                <app-info
                title="Erlang (1986)"
                [contents]="['Características: Concorrência leve, tolerância a falhas, imutabilidade, sistema distribuído embutido, tipagem dinâmica.', 'Aplicações: Telecomunicações, sistemas distribuídos. ', 'História: Criada por Joe Armstrong na Ericsson para programação concorrente.']"   
                ></app-info>
            </li>
        </ul>
    </div>
    <app-button name="Voltar" link="/sobre"></app-button>
    <app-button name="Próximo" link="/haskell" class="btn"></app-button>
</div>