<div class="container">
    <h1>O que é, História, Propósito e Responsável pelo desenvolvimento do Paradigma Funcional</h1>
    <div class="infos">
        <ul>
            <li>
                <app-info
                title="O que é?"
                [contents]="['A programação funcional trata a computação como uma avaliação de funções matemáticas, evitando estados ou dados mutáveis. Ela enfatiza a aplicação de funções, em contraste da programação imperativa, que enfatiza mudanças no estado do programa. Enfatizando as expressões ao invés de comandos, as expressões são utilizados para cálculos de valores com wikidados imutáveis.', 'Fonte: <a href=&quot;https://pt.wikipedia.org/wiki/Programa%C3%A7%C3%A3o_funcional&quot;target=&quot;_blanck&quot; style=&quot;color: gray; &quot;>https://pt.wikipedia.org/wiki/Programa%C3%A7%C3%A3o_funcional</a>']"
                ></app-info>
            </li>
            <li>
                <app-info
                title="Responsável"
                [contents]="['O paradigma funcional não foi desenvolvido por uma única empresa, mas por vários acadêmicos e matemáticos ao longo do tempo. O conceito foi formalizado por Alonzo Church nos anos 1930, com a criação do cálculo lambda, que se tornou a base teórica do paradigma.', 'A primeira implementação prática significativa foi com a linguagem LISP, desenvolvida por John McCarthy no MIT em 1958. Desde então, várias universidades e acadêmicos contribuíram para o avanço do paradigma, especialmente na criação de linguagens como ML, Scheme e Haskell, mas não foi um esforço dirigido por uma empresa específica. John foi um cientista da computação estadunidense, ele foi o coautor do documento que conhou o termo “inteligência artificial”, desenvolveu a família de linguagem de programação Lisp, influenciou o design da linguagem ALGOL, popularizou o time-sharing e inventou a Coletor de lixo. ']"
                ></app-info>
            </li>
            <li>
                <app-info
                title="História"
                [contents]="['A programação funcional começou a partir de um modelo computacional de 1930, chamado de Cálculo Lambda, criado por Alonzo Church.',
                'Este modelo deu vida ao Lisp pelas mãos de John Carthy em 1958 e, com o tempo, ganhou popularidade pelas características únicas para o desenvolvimento de software.',
                'Fonte: <a href=&quot;https://logap.com.br/blog/o-que-e-programacao-funcional/&quot;>https://logap.com.br/blog/o-que-e-programacao-funcional/</a>']"
                ></app-info>
            </li>
            <li>
                <app-info
                title="De onde veio a ideia de Programação Funcional?"
                [contents]="['A inspiração do paradigma funcional veio dos matemáticos teóricos que lidam com grandes abstrações:', '<img src=&quot;imgs/codigo.png&quot; alt=&quot;Código&quot;>', 'Eles costumam trabalhar com sistemas complexos e a maneira como eles encontraram para se manterem organizados e chegar no objetivo final foi através das funções. ', 'Então o  paradigma funcional foi inspirado nesse modelo de trabalho onde as funções são utilizadas para lidar com abstrações e aplicou no desenvolvimento de sistemas.', 'Fonte: <a href=&quot;https://www.alura.com.br/artigos/programacao-funcional-o-que-e?srsltid=AfmBOoqwPA7GIfkUSZYUKSGYV9jA9ZE-J1ouKaDOWcLxGXar_qTsaCGn&quot; target=&quot;_blanck&quot; color=&quot;gray&quot;>https://www.alura.com.br/artigos/programacao-funcional-o-que-e?srsltid=AfmBOoqwPA7GIfkUSZYUKSGYV9jA9ZE-J1ouKaDOWcLxGXar_qTsaCGn</a>']"
                ></app-info>
            </li>
        </ul>
    </div>  
    <app-button name="Linguagens Utilizadas" link="/linguagens" class="btn"></app-button>
</div>