<div class="container">
    <h1>Vantagens e Desvantagens da Linguagem Haskell</h1>
    <img src="imgs/haskell2.png" alt="haskell">
    <p>Muitas linguagens de programação foram criadas para atender certas necessidades e para seguir alguns paradigmas da programação, sendo muitas delas multi-paradigma, ou seja, ao escolher qualquer uma dessas linguagens, podendo aplicar qualquer forma de paradigma atualmente existente. Para se entender do que se trata uma linguagem multi-paradigma , precisamos entender primeiro o que se trata “Paradigma”. </p>
    <p>Segundo o livro: A Estrutura das Revoluções Científicas - Thomas Kuhn paradigma entende-se por ser o método ou o estilo no qual o código do desenvolvedor irá instruir a máquina para resolução de problemas cotidianos podemos ele ser resolvido de diversas maneiras. </p>
    <p>Em resumo e colocando algo do mundo real para explicar entende-se que todo problema é como uma casa que precisa ser construída e que os criadores dos projetos terão diversas maneiras de realizar sua construção, sendo essas diversas formas os paradigmas de programação. No caso da linguagem Haskell ela não é multi-paradigma sendo uma linguagem puramente funcional, ou seja, não sendo possível aplicação de outra metodologia de construção de código nessa linguagem. </p>

    <h2>Vantagens</h2>

    <p>Por ser uma linguagem puramente funcional, Haskell é extremamente robusta e fortemente tipada. Sua construção de código é voltada mais para "o que" deve ser feito, em vez de "como" deve ser feito, o que é uma característica fundamental que diferencia o paradigma funcional de outros paradigmas, como o imperativo. O paradigma imperativo descreve o passo a passo de como a máquina deve executar o código, lendo linha por linha para realizar a função atribuída. Em contraste, no paradigma funcional, a máquina foca na função a ser executada, sem se preocupar com a implementação específica, permitindo que ela escolha a melhor forma de execução. Isso faz com que Haskell seja uma linguagem eficiente, sucinta e de fácil manutenção, já que não cria uma lógica de programação complexa para sua gestão. Podemos listar com nessa breve informação sobre sua funcionalidade as seguintes vantagens:
    </p>
    <ul>
        <li>Sistema de Tipos Forte e Estático </li>
        <li>Imutabilidade </li>
        <li>Laziness(avaliação prequiçosa) </li>
        <li>Documentação e comunidade </li>
        <li>Fácil manutenção e reutilização de códigos</li>
    </ul>
    <p>Fonte: <a href="https://www.haskell.org" target="_blank">https://www.haskell.org</a></p>

    <h2>Desvantagens</h2>

    <p>Assim como na vida real, nem tudo são flores, e muitas vezes nossas qualidades acabam sendo nossos maiores defeitos. Haskell é uma linguagem extremamente robusta em suas aplicações, mas para desenvolvedores que nunca a usaram ou que estão habituados a métodos imperativos, seu aprendizado pode ser um pouco dificultoso, levantando assim a primeira desvantagem: a curva de aprendizado. Além disso, outras desvantagens incluem:
    </p>
    <ul>
        <li>Desempenho em Aplicações Imperativas</li>
        <li>Ecossistema e Ferramentas  </li>
        <li>Dificuldade em Depuração </li>
        <li>Integração com Outras Tecnologias. </li>
        <li>Menor Adoção no Mercado</li>
    </ul>
    <app-button name="Voltar" link="/haskell"></app-button>
    <app-button name="Próximo" link="/usos" class="btn"></app-button>
</div>