<div class="container">
    <h1>Fontes & Referências</h1>
    <a href="https://pt.wikipedia.org/wiki/Programa%C3%A7%C3%A3o_funcional" target="_blank">Wikipedia - Programação Funcional</a>
    <a href="https://logap.com.br/blog/o-que-e-programacao-funcional/" target="_blank">Logap - O que é programação funcional </a>
    <a href="https://logap.com.br/blog/o-que-e-programacao-funcional/" target="_blank">Logap - O que é programação funcional </a>
    <a href="https://www.alura.com.br/artigos/programacao-funcional-o-que-e?srsltid=AfmBOoqwPA7GIfkUSZYUKSGYV9jA9ZE-J1ouKaDOWcLxGXar_qTsaCGn" target="_blank">Artigo Alura - Programação Funcional</a>
    <p>Livro "Haskell: Uma Abordagem Prática" - Claudio Cesar de Sá e Márcio Ferreira da Silva.</p>
    <p>Livro "Real World Haskell" - Bryan O'Sullivan, Don Stewart, e John Goerzen.</p>
    <p>Artigo: "Why Functional Programming Matters" - John Hughes.</p>
    <a href="https://blog.nubank.com.br/programacao-funcional-o-que-e-relacao-nubank/" target="_blank">Blog Nubank - programação funcional</a>
    <a href="https://www.haskell.org/" target="_blank">https://www.haskell.org</a>
    <a href="https://medium.com/trainingcenter/programa%C3%A7%C3%A3o-funcional-para-iniciantes-9" target="_blank">Medium - programação funcional para iniciantes</a>
    <app-button name="Voltar" link="/usos" class="btn"></app-button>
</div>