.container {
    & .header {
        border-bottom: 1px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        cursor: pointer;   

        & h1 {
            color: var(--primary-color);
            font-size: 1.8rem;
            font-weight: bold;
        }
        
        & img {
            width: 25px;
            height: 25px;
            transition: .3s ease;
        }
    }

    & .content {
        & p {
            font-size: 1.2rem;
            padding: 10px;
        }
    }
}